.container {
    display: flex;
    gap: 10px;
    height: 100%;
}

h3 {
    text-align: left;
    font-size: variables.$font-size-md;
    font-weight: 500;
}

.innerContainer {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    height: 100%;
    border-radius: 10px;
}

.flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

.buckets {
    @extend .flex;
    min-width: 240px;
}

.apps {
    @extend .flex;
    flex: 1;
}
