@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

$primary: #7093ff;

$dark-color: #f6f6f6;
$dark-bg: #2f2f2f;


/* Spacing */
$spacing: 10px;
$spacing-sm: 5px;
$spacing-md: 15px;
$spacing-lg: 20px;
$spacing-xl: 30px;

/* Font sizes */
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-xxl: 24px;
